<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>y
    <h1>Pig Latinizer</h1>
    <form action="/index" method="post">
    <label for="Word"> Word: </label>
    <input type="text" name="word">
    <input type="submit" value="Submit">
    </form>

  
  </body>
</html>